{%  load static  %}
<html>
<head>
	<title>Photo Gallery</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,500i,700,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


	<link rel="stylesheet" type="text/css" href="{% static 'css/gallery.css' %}">
	<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
</head>
<body>


<div class="container">
<h1>Photo/Gallery</h1>
<hr>
	<div class="row">
		<div class="col-lg-4 col-sm-6">
			<div class="thumbnail img-responsive">
				<a data-flickr-embed="true" href="https://www.flickr.com/photos/145401197@N03/31557679703/in/dateposted-public/" title="The Mysterious Boy!!"><img src="https://live.staticflickr.com/397/31557679703_e534186cde_k.jpg" width="2048" height="1365" alt="The Mysterious Boy!!"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6">
			<div class="thumbnail img-responsive">
				<a data-flickr-embed="true" href="https://www.flickr.com/photos/145401197@N03/31919526486/in/dateposted-public/" title="IMG_6300"><img src="https://live.staticflickr.com/425/31919526486_cfa45687a4_k.jpg" width="2048" height="1365" alt="IMG_6300"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6 ">
			<div class="thumbnail">
				<a data-flickr-embed="true" href="https://www.flickr.com/photos/145401197@N03/31111457524/in/dateposted-public/" title="Mushfiqur Rahman_Matrix_01784259777"><img src="https://live.staticflickr.com/632/31111457524_a01493377a_k.jpg" width="2048" height="1365" alt="Mushfiqur Rahman_Matrix_01784259777"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6">
			<div class="thumbnail img-responsive">
				<a data-flickr-embed="true" href="https://www.flickr.com/photos/145401197@N03/31111388044/in/dateposted-public/" title="IMG_6134"><img src="https://live.staticflickr.com/361/31111388044_a58f0c3ebb_k.jpg" width="2048" height="1203" alt="IMG_6134"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6">
			<div class="thumbnail img-responsive">
				<a data-flickr-embed="true" href="https://www.flickr.com/photos/145401197@N03/31039731670/in/dateposted-public/" title="IMG_4333"><img src="https://live.staticflickr.com/5822/31039731670_ff824eabe9_k.jpg" width="2048" height="1337" alt="IMG_4333"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6">
			<div class="thumbnail img-responsive">
				<a data-flickr-embed="true" href="https://www.flickr.com/photos/145401197@N03/38061791372/in/dateposted-public/" title="Friendship"><img src="https://live.staticflickr.com/4497/38061791372_7e7f2a2661_k.jpg" width="2048" height="1365" alt="Friendship"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6">
			<div class="thumbnail img-responsive">
				<a data-flickr-embed="true" href="https://www.flickr.com/photos/145401197@N03/38039941096/in/dateposted-public/" title="Sky Tree"><img src="https://live.staticflickr.com/4493/38039941096_67dafe897e_k.jpg" width="1365" height="2048" alt="Sky Tree"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6">
			<div class="thumbnail img-responsive">
				<a data-flickr-embed="true" href="https://www.flickr.com/photos/145401197@N03/32329369896/in/dateposted-public/" title="IMG_7571"><img src="https://live.staticflickr.com/510/32329369896_61ffc932df_k.jpg" width="2048" height="1345" alt="IMG_7571"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6">
			<div class="thumbnail img-responsive">
				<a data-flickr-embed="true" href="https://www.flickr.com/photos/145401197@N03/30601666183/in/dateposted-public/" title="IMG_4646-2"><img src="https://live.staticflickr.com/5700/30601666183_a9e65a128d_k.jpg" width="2048" height="1194" alt="IMG_4646-2"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
			</div>
		</div>
        <div class="col-lg-4 col-sm-6">
			<div class="thumbnail img-responsive">
				<a data-flickr-embed="true" href="https://www.flickr.com/photos/145401197@N03/30586136814/in/dateposted-public/" title="IMG_4304"><img src="https://live.staticflickr.com/5323/30586136814_a8926afa7b_b.jpg" width="1000" height="667" alt="IMG_4304"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
			</div>
		</div>
        


        
	</div>
</div>
<div id="modal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
			</div>
			<div class="modal-body">
			</div>
		</div>
	</div>
</div>

<footer class="myFooter" id="footer-wrapper">
<div class="footer-icons">
    <li><a href="https://www.flickr.com/photos/145401197@N03/" class="fa fa-flickr" target="_blank"></a></li>
</div>
  
  <section class="footer-bottom">
<div class="footer-bottom-wrapper">   
    <p>Copyright &copy; 2023 Mushfiqur Rahman</p>
</div>
  </section>
</footer>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'js/gallery.js' %}"></script>
</body>
</html>